<% content_for :page_title, "All Appointments" %>

<section class="section"
    <div class="container">
        <% @appointments.each do |appointment| %>
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="Appointment #"><%= link_to appointment.date, appointment %></p>
                        </div>
                    </div>
                    <div class="appointment-type">
                        <%= appointment.appointment_type %>
                    </div>
                    <div class="time">
                        <%= appointment.time %>
                    </div>
                    <div class="notes">
                        <%= appointment.notes %>
                    </div>
                </div>
            </div>
        <% end %>          
    </div>
</section>