<section class="section">
    <div class="container">
        <h1 class="appointent_type">
            <%= @appointment.appointment_type %>
        </h1>
        <div class="date_time">
            <%=@appointment.date_time %>
        </div>
        <div class="notes">
            <%=@appointment.notes %>
        </div>
    </div>
</section>
